<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finca Savina</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" /></head
  >|
  <body>
    <header>
      <nav>
        <div class="container">
            <a class="logo" href="./index.html"><img class="img-logo" src="../static/img/Logo.jpg" /></a>
            <div class="sub-container">
                <ul class="links">
                    <li><a href="">Turismo</a></li>
                    <li><a href="">Tienda</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
                <select class="language">
                    <option value="es">ESP</option>
                    <option value="en">ENG</option>
                    <option value="fr">POR</option>
                </select>
            
            </div>
        </div>
      </nav>
    </header>

    <section class="presentation">
      <div class="info-container">
        <h1>Bienvenidos</h1>
        <p class="info">
          Nuestra bodega se encuentra sobre la cuenca del río Mendoza, otorgando
          a nuestro suelo la capacidad de darnos vinos ricos en aromas, colores
          y estructura en boca nos regala una experiencia única en nuestro
          encuentro con la copa. Nuestro Viejo Sabio conocía el potencial de
          Lunlunta tanto como se conocía
        </p>
        <a href="" class="button">Ver Nuestros Vinos</a>
      </div>
    </section>
    <section class="carousel-section">
      <div class="carousel-container">
        <button class="prev"> ←</button>
        <div class ="carousel">
            <img src
  </body>
</html>
