/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@300;400&display=swap");

/* Colors */
:root {
  --bg-color: rgba(116, 136, 160, 0.863);
  --text-color: #fdfdfd;
  --white: #fff;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--bg-colo);
  color: var(--text-color);
}

.hide{
  display: none;
}

/* Nav Bar Styles */

header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

nav {
  padding: 15px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  width: 300px;
  margin-left: 30px;
}

.sub-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
  list-style: none;
  display: flex;
  margin-right: 70px;
}

.links li {
  margin-left: 30px;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 20px;
}

.links a:hover {
  color: #9c9c9c;
}

.language {
  margin-right: 30px;
}

.language i{
  color: var(--white);
  font-size: 25px;
  transition: 0.5s ease;
}

.language i:hover{
  color: #9c9c9c;
}

/* Presentation Styles */

.presentation {
  height: 100vh;
  background-image: url("../img/savina.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.5);
}

.presentation .box-info {
    text-align: center;
    color: #fff;
    position: relative;
    max-width: 500px;
    margin-right: 800px;
    padding: 60px;
}

.presentation .box-info h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
}

.presentation .box-info p {
  font-size: 16px;
  line-height: 1.3;
}

.presentation .box-info .button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  transition: 0.5s ease;
}

.presentation .box-info .button:hover{
    background-color: #9c9c9c;
    color: #000;
}